{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks for today{% endblock %}</h1>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% if g.user %}
    <a class="btn btn-info" href="{{ url_for('todo.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Note</th>
      <th scope="col">Due date</th>
      <th scope="col">Done?</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>
  {% for todo in todos %}
  <tr>
    <td><b>{{ todo['note'] }}</b></td>
    <td>{{ todo['due_date'] }}</td>
    {% if todo['done'] == 1 %}
      <td>✅</td>
    {% else %}
      <td>❌</td>
    {% endif %}
    <td>
      <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
      </form>
    </td>

    <td>
      <form action="{{ url_for('todo.done', id=todo['id']) }}" method="POST">
        <input class="btn btn-success" type="submit" value="Done" onclick="return confirm('Are you sure?')">
      </form>
    </td>

    <td>
      <form action="{{ url_for('todo.undone', id=todo['id']) }}" method="POST">
        <input class="btn btn-info" type="submit" value="Undone" onclick="return confirm('Are you sure?')">
      </form>
    </td>
  </tr>

  {% endfor %}

</table>
<div id="chart">

</div>

<!-- Javascript -->
<script>
  axios.get('/daily_progress_chart')
  .then(function (response) {
    data = response.data

    var options = {
      chart: {
          height: 350,
          type: 'radialBar',
      },
      series: [Object.values(data)],
      labels: ['Progress'],
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();

  })
  .catch(function (error) {
    console.log(error);
  });

</script>

{% endblock %}
