<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
    {% endblock %}
    <title>{% block title %}Daily checklist{% endblock %}</title>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-secondary">{{ message }}</div>
    {% endfor %}

    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon">
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
          {% if g.user %}
          <span>{{ g.user['username'] }}</span>
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
          <a href="{{ url_for('auth.register') }}" class="nav-item nav-link">Register</a>
          <a href="{{ url_for('auth.login') }}" class="nav-item nav-link">Log In</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </body>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}
</section>
</html>