{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}All TODOs{% endblock %}</h1>
  {% if g.user %}
    <a class="btn btn-info" href="{{ url_for('todo.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Note</th>
      <th scope="col">Due date</th>
      <th scope="col">User id</th>
      <th scope="col">Done?</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>
  {% for todo in todos %}
  <tr>
    <th scope="row">{{ todo['id'] }}</th>
    <td>{{ todo['note'] }}</td>
    <td>{{ todo['due_date'] }}</td>
    <td>{{ todo['user_id'] }}</td>
    {% if todo['done'] == 1 %}
      <td>✅</td>
    {% else %}
      <td>❌</td>
    {% endif %}
    <td>
      <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
      </form>
    </td>

    <td>
      <form action="{{ url_for('todo.done', id=todo['id']) }}" method="POST">
        <input class="btn btn-success" type="submit" value="Done" onclick="return confirm('Are you sure?')">
      </form>
    </td>

    <td>
      <form action="{{ url_for('todo.undone', id=todo['id']) }}" method="POST">
        <input class="btn btn-info" type="submit" value="Undone" onclick="return confirm('Are you sure?')">
      </form>
    </td>
  </tr>

  {% endfor %}

</table>
{% endblock %}

<table class="table">

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>